* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.scroll-container {
  width: 25rem;
  padding: 30px;
  background: black;
}

.scroll-div {
  width: 100%;
  height: 500px;
  background: black;
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-object {
  padding: 20px;
}
