* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(79, 46, 46);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 100px auto;
  width: 600px;
}

#accordion li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
}

#accordion li label {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: aqua;
  cursor: pointer;
  border: 2px darkgoldenrod dotted;
}

#accordion li label span {
  transform: rotate(90deg);
  font-size: 22px;
  color: aqua;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}
