@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Hero-font: "Raleway", sans-serif;
  --main-font: "Inter", system-ui;
  --title-font: "Inter", system-ui;
  --sub-font: "Inter", system-ui;
  --text-font: "Inter", system-ui;
  --text-color: #1d1c1c;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  border: 2px solid red;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  /* border: 2px solid red; */
}

ul li {
  list-style: none;
  display: inline;
  justify-content: center;
  /* border: 2px solid black; */
}

ul li a {
  text-decoration: none;
  margin: 48px;
  color: var(--text-color);
  font-family: var(--text-font);
}
.hero_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.hero-text {
  font-family: var(--Hero-font);
  font-size: 56px;
}

.body-text {
  font: var(--text-font), 16px, 200;
}

.hero-img {
  border: 2px black solid;
}

body {
  border: 2px black solid;
}
