* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  border: gold solid 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: rgb(55, 148, 83);
  background: black;
  padding: 1.5rem;
  font-family: var(--txt);
  font-weight: 700;
}
